# Cloudwatch Logs Manager

## Description
This notebook is for managing deepracer logs stored in AWS Cloudwatch.

You can do the following:
- You can download logs from all cloudwatch log groups, or from specific log group.
- You can generate analysis notebook for some logs, so you don't have to lost your analysis.
  Btw, notebooks are executed by command line after generated.
- You can delete log entry from `cloudwatch_logs.csv`.
- You can load log entries for all cloudwatch types or specific type from `cloudwatch_logs.csv`.

In [2]:
# Python Module Imports
import sys

from datetime import datetime

# Data Analysis Modules
import numpy as np
import pandas as pd
pd.DataFrame
# Plotting Modules Imports
import matplotlib.pyplot as plt
%matplotlib inline

# Shapely Module Imports
from shapely.geometry import Point, Polygon
from shapely.geometry.polygon import LinearRing, LineString

# Custom Module Imports
import track_utils as tu
import log_analysis as la
import cw_utils as cw
import log_manager as lm

# Make sure your boto version is >= '1.9.133'
lm.validate_boto_version()

INFO: Installed boto version meets the minimum requirements, '1.9.196' >= '1.9.133'

In [3]:
def reload_custom_modules():
    """ Reload custom modules (ex: cw_utils) in case any changes is done to them """
    
    import importlib

    importlib.reload(la)
    importlib.reload(lm)
    importlib.reload(cw)
    importlib.reload(tu)

In [4]:
reload_custom_modules()

## Download Logs from Cloudwatch, Collect Data and Store It in `cloudwatch_logs.csv`

- **`All` Log Groups (Sagemaker, Robomaker, Leaderboard)**

In [ ]:
lm.fetch_all_logs_from_cloudwatch(
    from_date="2019-10-10 00:00", 
    to_date="2019-10-16 23:00",
)

- **`Sagemaker` Log Group** (Not Implemented Yet)

In [693]:
# lm.fetch_sagemaker_logs_from_cloudwatch(
#     from_date="2019-10-16 16:00", 
#     to_date="2019-10-16 16:30"
# )

- **`Robomaker` Log Group**

In [240]:
lm.fetch_robomaker_logs_from_cloudwatch(
    from_date="2019-09-08 06:22", 
    to_date="2019-09-08 14:00",
)

In [286]:
lm.fetch_robomaker_logs_from_cloudwatch(
    log_ids=['sim-ppdbxz743ydd']
)

- **`Leaderboard` Log Group**

In [176]:
lm.fetch_leaderboard_logs_from_cloudwatch(
    from_date="2019-10-16 16:00", 
    to_date="2019-10-16 16:30",
)

In [287]:
lm.fetch_leaderboard_logs_from_cloudwatch(
    log_ids=['sim-pgwjxc243ydf']
)

WARNING: Log group '/aws/deepracer/leaderboard/SimulationJobs' doesn't have the following logs: ['sim-pgwjxc243ydf']

## Generate Analysis Notebooks

In [277]:
lm.gen_analysis_notebook_for_cloudwatch_logs(log_ids=['sim-dd23yln209v0'])

[NbConvertApp] Converting notebook Log Analysis for Evaluation - sim-dd23yln209v0.ipynb to notebook
[NbConvertApp] Executing notebook with kernel: python3
[NbConvertApp] Writing 432953 bytes to Log Analysis for Evaluation - sim-dd23yln209v0.ipynb

## Managing Logs Database

- **Delete Log Entry From `cloudwatch_logs.csv`**

In [196]:
# This will not delete log file from disk

lm.delete_cloudwatch_logs(log_ids=['sim-w6x7cd1590p7'])

INFO: Deleting the following log entries: sim-w6x7cd1590p7
Confirm deletion (y/N):  y
INFO: Logs entries deleted successfully!

- **Load all logs (training, simulation-job, evaluation) from `cloudwatch_logs.csv`**

In [280]:
all_logs = lm.load_all_cloudwatch_logs()

all_logs

,id,model_name,log_type,world_name,fetched_at,first_event_timestamp
6,sim-m2s1wlwf56jn,sept-8-v2-c2,leaderboard,MexicoAlt_track,2019-10-19 15:29:35,2019-09-17 14:03:53
0,sim-pgwjxc243ydf,oct-16-v1c1,simulation-job,Canada_Training,2019-10-19 14:57:25,2019-10-15 22:06:53
1,sim-pn7dmww50lj4,sept-8-v2-c2,evaluation,Mexico_track,2019-10-19 14:56:49,2019-09-08 11:07:50
2,sim-w6x7cd1590p7,sept-8-v2-c2,simulation-job,Mexico_track,2019-10-19 14:56:49,2019-09-08 08:48:25
3,sim-d328rkd1xg4j,sept-8-v2-c1,simulation-job,Mexico_track,2019-10-19 14:56:49,2019-09-08 08:43:52
4,sim-6lgs2d4dlf70,sept-8-v2,simulation-job,Mexico_track,2019-10-19 14:56:49,2019-09-08 06:42:11
5,sim-dd23yln209v0,NaN,evaluation,Mexico_track,2019-10-19 14:56:49,2019-09-08 04:18:21

- **Load `training-job` logs from `cloudwatch_logs.csv`**

In [281]:
training_logs = lm.load_cloudwatch_training_logs()

training_logs

Empty DataFrame
Columns: [id, model_name, log_type, world_name, fetched_at, training_job_duration, cloned, first_event_timestamp]
Index: []

- **Load `simlution-job` logs from `cloudwatch_logs.csv`**

In [282]:
sim_logs = lm.load_cloudwatch_sim_logs()

sim_logs

,id,model_name,log_type,world_name,fetched_at,first_event_timestamp
0,sim-pgwjxc243ydf,oct-16-v1c1,simulation-job,Canada_Training,2019-10-19 14:57:25,2019-10-15 22:06:53
2,sim-w6x7cd1590p7,sept-8-v2-c2,simulation-job,Mexico_track,2019-10-19 14:56:49,2019-09-08 08:48:25
3,sim-d328rkd1xg4j,sept-8-v2-c1,simulation-job,Mexico_track,2019-10-19 14:56:49,2019-09-08 08:43:52
4,sim-6lgs2d4dlf70,sept-8-v2,simulation-job,Mexico_track,2019-10-19 14:56:49,2019-09-08 06:42:11

- **Load `evaluation` logs from `cloudwatch_logs.csv`**

In [283]:
eval_logs = lm.load_cloudwatch_eval_logs()

eval_logs

,id,model_name,log_type,world_name,n_trials,fetched_at,first_event_timestamp
1,sim-pn7dmww50lj4,sept-8-v2-c2,evaluation,Mexico_track,3.0,2019-10-19 14:56:49,2019-09-08 11:07:50
5,sim-dd23yln209v0,NaN,evaluation,Mexico_track,3.0,2019-10-19 14:56:49,2019-09-08 04:18:21

- **Load `leaderboard` logs from `cloudwatch_logs.csv`**

In [285]:
leaderboard_logs = lm.load_cloudwatch_leaderboard_logs()

leaderboard_logs

,id,model_name,log_type,world_name,n_trials,fetched_at,first_event_timestamp
6,sim-m2s1wlwf56jn,sept-8-v2-c2,leaderboard,MexicoAlt_track,5.0,2019-10-19 15:29:35,2019-09-17 14:03:53

## Perform Operation on Loaded Logs